{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IMDB Movies Analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'css/site.css' %}" rel="stylesheet">
    <script src="{% static 'js/echarts.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/china.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>

    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">IMDB Data Analysis</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'analysis:index' %}">Welcome</a></li>
              <li><a href="{% url 'analysis:data' %}">Data</a></li>
              <li><a href="{% url 'analysis:dataAnalysisScore' %}">Score</a></li>
              <li><a href="{% url 'analysis:dataAnalysisInfos' %}">Info</a></li>
              <li><a href="{% url 'analysis:worldCloud' %}">worldCloud</a></li>
{#            <li><a href="{% url 'analysis:data' %}">数据列表</a></li>#}
{#            <li><a href="{% url 'analysis:dataAnalysisin' %}">国内疫情数据可视化</a></li>#}
{#            <li><a href="{% url 'analysis:dataAnalysisout' %}">国外疫情数据可视化</a></li>#}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.imdb.com/chart/top/?ref_=nv_mv_250">Data Sources</a></li>
          </ul>
        </div>
      </div>
    </nav>

{#   继承模板     #}
{% block content %} {%endblock %}


  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>

    <script src="{% static 'js/site.js' %}"></script>
<br><br><br>
<div class="container">
<div class="row">
<div class="col-xs-12">

</div>
</div>
</div>
  </body>
</html>
