{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Data leads the era</h2>
        <p>

        </p>
        <p>
{#          <a class="btn btn-lg btn-primary" href="{% url 'analysis:data' %}" role="button">查看疫情数据</a>#}
            <a class="btn btn-lg btn-primary" href="{% url 'analysis:data' %}" role="button">View data</a>
        </p>
      </div>

    </div> <!-- /container -->

{%endblock %}